body {
    background-color: rgb(10 23 31);
    color: white;
}

h1{
    font-family: "Inter Variable", "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;  
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"]{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    padding: 30px;
    width: 50%;
    background-color: rgb(10 23 31);
    color: rgb(247, 4, 4);
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    font-size: x-large;
    font-weight: 700;
}

button{
    font-family: "Inter Variable", "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    font-size: large;
    background-color: rgb(10 23 31);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: rgb(10 23 31);
}

hr{
    border: 1px solid white;
    margin: 20px;
}

.display_result{
    font-family: "Inter Variable", "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display_result h2{
    font-weight: bolder;
    font-size: x-large;
    margin: 10px;
}

.display_result p{
    font-weight: bolder;
    font-size: large;
    margin: 10px;
}

@media  screen and (max-width: 768px) {
    input[type="text"]{
        width: 90%;      /* Use almost full width on small screens */
        padding: 15px;   
        font-size: large;
    }
    
    h1 {
        font-size: 1.8rem;
    }

    button {
        width: 90%;
    }
}